# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so
**/__pycache__/
**/*.pth.tar
**/*.hdf5
**/*.tfevents.*

#folders
FMPlace/runs/
FMPlace/cache/
RESULTS/Trainings/


